* {
    padding: 0;
    margin: 0;
}
body {
    font-family: "Open Sans", sans-serif;
    font: 20px;
    background: black;
    text-align: center;
}
/* header */
header {
    color: white;
    padding: 20px;
    background-image: url(audio/bg.webp);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
header img {
    border: 4px solid white;
    border-radius: 50%;
    width: 200px;
}
/* container */
.container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    text-align: center;
    padding: 20px;
}
/* audio */
.container .audio, .container .unduh {
    background: red;
    padding: 20px;
    border-radius: 7px;
}
.container .audio h2, .container .unduh h2 {
    font-family: "Dancing Script", cursive;
    color: whitesmoke;
    margin-bottom: 10px;
    font-weight: bold;
}
.container .audio a, .container .unduh a {
   text-decoration: none;
   background: white;
   padding: 3px 7px;
   border-radius: 6px;
   border: 2px solid black;
}
.container .audio a:hover, .container .unduh a:hover {
    background: BLUE;
    color: white;
    border: 2px solid white;
}

